// Cores
@black: #000;
@white: #fff;
@blue-lt: #accefd;
@blue-md: #9eb1f0;
@blue-md-alt: #6f78a6;
@blue-dk: #342ca7;
@gray-lt: #f2f2f2;
@gray-md: #aaaaaa;
@gray-dk: #757575;
@green-lt: #b6e8a5;
@green-md: #3fad3f;
@green-dk: #348034;
@text-main: #6d6d6d;
@text-carBrand: #364147;
@add-vehicle: #e7ab69;
@edit-vehicle: #f7f090;

// Sombra
@shadow: 0 3px 3px 0 rgba(0,0,0, .25);

// Font-size
@ftSizeTiny: 0.75rem;
@ftSizeSmall: 1rem;
@ftSizeNormal: 1.25rem;
@ftSizeLarge: 1.5rem;
@ftSizeExtraLarge: 1.75rem;
@ftSizeSubTitle: 2rem;
@ftSizeTitle: 2.5rem;

// Media queries
// xl1200
// lg992
// md768
// sm576
@screen-xl-min: 1200px;
@screen-xl-max: @screen-xl-min - 1px;
@screen-lg-min: 992px;
@screen-lg-max: @screen-lg-min - 1px;
@screen-md-max: 768px;
@screen-md-min: @screen-md-max - 1px;
@screen-sm-max: 576px;
@screen-sm-min: @screen-sm-max - 1px;

// Fonte Hind Regular/Light
body {
    font-family: "Hind", "Helvetica", "Arial", sans-serif;
    color: @text-main;

    button, .btn {
        transition: filter 0.2s;
        &:hover:not(:disabled) {
            filter: brightness(0.95);
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    .btn {
        border-radius: 10px;
        width: 100%;
        &.btn-danger {
            background-color: #ef6767;
            border-color: #ef6767;
    
            // &:hover {
            //     background-color: #ce5b5b;
            //     border-color: #ce5b5b;
            // }
        }
    
        &.btn-primary {
            background-color: #92bffc;
            border-color: #92bffc;
            
            // &:hover {
            //     background-color: #85abe0;
            //     border-color: #85abe0;
            // }
        }
    }

    .form-disabled {
        * {
            opacity: 0.75;
        }

        input, select, textarea {
            pointer-events: none;
            cursor: default;
        }
    }

}