// Cores
@black: #000;
@white: #fff;
@blue-lt: #accefd;
@blue-md: #9eb1f0;
@blue-md-alt: #6f78a6;
@blue-dk: #342ca7;
@gray-lt: #f2f2f2;
@gray-md: #aaaaaa;
@gray-dk: #777777;
@green-lt: #59df59;
@green-md: #3fad3f;
@green-dk: #348034;
@text-main: #6d6d6d;
@text-carBrand: #364147;

// Sombra
@shadow: 0 3px 3px 0 rgba(0,0,0, .25);

// Font-size
@ftSizeTiny: 0.75rem;
@ftSizeSmall: 1rem;
@ftSizeNormal: 1.25rem;
@ftSizeLarge: 1.5rem;
@ftSizeExtraLarge: 1.75rem;
@ftSizeSubTitle: 2rem;
@ftSizeTitle: 2.5rem;

// Fonte Hind Regular/Light
body {
    font-family: "Hind", "Helvetica", "Arial", sans-serif;
    color: @text-main;
}