// Cores
@black: #000;
@white: #fff;
@blue-lt: #cac1fc;
@blue-md: #7e84b7;
@blue-dk: #342ca7;
@gray-lt: #dddddd;
@gray-md: #aaaaaa;
@gray-dk: #777777;
@green-lt: #59df59;
@green-md: #3fad3f;
@green-dk: #348034;

// Sombra
@shadow: 2px 2px 5px 0 rgba(0,0,0, .25);

// Font-size
@ftSizeTiny: 0.75rem;
@ftSizeSmall: 1rem;
@ftSizeNormal: 1.25rem;
@ftSizeLarge: 1.5rem;
@ftSizeExtraLarge: 1.75rem;
@ftSizeSubTitle: 2rem;
@ftSizeTitle: 2.5rem;

// Fonte Hind Regular/Light
body {
    font-family: "Hind", "Helvetica", "Arial", sans-serif;
}